<?xml version='1.0' encoding='utf-8' ?>
<beans xmlns='http://www.springframework.org/schema/beans'
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:schemaLocation='http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd'>
	
	<bean id='pistol' class='spring.core.ch01.ex01.Pistol'/>
	<bean id='rifle' class='spring.core.ch01.ex01.Rifle'/>
	
	<bean id='shooter1' class='spring.core.ch01.ex02.Shooter'>
		<constructor-arg value='최한석'/>
		<constructor-arg ref='pistol'/>
	</bean>
	<!-- container에 담긴걸로 DI한다. -->
	
	<bean id='shooter2' class='spring.core.ch01.ex02.Shooter'>
		<property name='name' value='한아름'/>
		<property name='gun' ref='rifle'/>
	</bean>
</beans>
